@model CustomFormCreator.Models.Entities.Form

@{
    ViewData["Title"] = "Details";
}

<hr />
<div class="row justify-content-md-center">
    <div class="col-8">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="container-fluid" style=" padding: 10px; margin: 10px; width: 100%">
                <h3><em>@Model.Name</em></h3>
            </div>
            @foreach (var formSection in Model.FormSections)
            {
                @if (formSection.IsActive)
                {
                    <div class="container-fluid" style="border-style: solid; border-color: gray; border-radius: 5px; padding: 10px; margin: 10px; width: 100%">

                        <h3>@formSection.Name</h3>
                        <div style="padding: 20px">
                            @foreach (var formColumn in formSection.FormColumns)
                            {
                                <div class="form-group">
                                    @if (formColumn.IsActive == true)
                                    {
                                        <label class="control-label">@formColumn.Name</label>
                                        <div class="container-fluid row">
                                            <div class="col"><input type="@formColumn.FormColumnTypeNavigation.Type" asp-for="@formColumn.Data" class="form-control" /></div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
            }
            <div class="container-fluid" style="padding: 10px; margin: 10px; width: 100%">
                <div class="form-group">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
